
// Colors
$primary-color: #241802;
$secondary-color: #9b6b4e;
$background-color: #f9f9f5;
$background-color-opacity: #f9f9f5e8;
$text-color:black;
$text-color-inv: white;

//Font
$font-family: 'Montserrat';
$font-size-h2: 22px;
$font-size-text: 16px;