
// Colors
$primary-color: #241802;
$secondary-color: #cca766;
$secondary-color-dark-shade: #724e38;

$background-color: #f9f9f5;
$background-color-opacity: #f9f9f5e8;
$text-color:black;
$text-color-inv: white;
$color-white: white;
$color-grey: rgb(164, 164, 164);
$color-grey-dark: rgb(65, 65, 65);
$icon-check-completed-color: rgb(83, 190, 126);

//Font
$font-family: 'Montserrat';
$font-size-h2: 22px;
$font-size-text: 16px;


$padding-card:20px;
$border-radius-card:10px;