.App {
  margin-right: 3vw;
  margin-left:3vw;
  font-family: $font-family;
  //background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp1846179.jpg&f=1&nofb=1&ipt=1e6b540ae382f64cba41f7a5f86cf83f990bb58f589ee2635b310f1bfede481d&ipo=images");
  height: 100%;
}
  
.body{
  width:100%;
  background-color: $background-color;
  font-family: $font-family;
  height:150vh;
  background-image: linear-gradient(rgb(66, 65, 65), rgb(22, 22, 22))
}

.text-navbar{
  color: $text-color-inv !important;
  >a{
    color: $text-color-inv !important;
  }
}


.font-size-h2{
  font-size: $font-size-h2;
}

.content{
  margin-left: auto;
  margin-right: auto;
  max-width:1100px;
  margin-top: 50px;
  background-color: $background-color-opacity;
  padding:30px;

}

.content-login{
  margin-left: auto;
  margin-right: auto;
  max-width:500px;
  background-color: $background-color-opacity;
  padding:20px;
  border-radius: $border-radius-card;
  opacity:0.9;
}

.btn-login{
  background-color: $primary-color !important;
  border: 0px solid black !important;
  font-weight: 600;
  width:100%;
}

.text-stats{
  color: $icon-check-completed-color;
}

